# This workflow will deploy the application to the running environment after a successful merge to main

name: deploy

on:
    workflow_run:
        workflows: [test] # Triggered by the test workflow
        types: [completed] # The test workflow must complete
        branches: [main] # Only when main is updated

jobs:
    on-success:
        runs-on: ubuntu-latest
        if: ${{ github.event.workflow_run.conclusion == 'success' }} # Only when test completed successfully 
        steps:
          # - name: Download latest build
          #   uses: actions/download-artifact@v3
          #   with: 
          #     name: 'flaskbb_application_artifact'

          - uses: actions/checkout@v2
          
          - name: Build binary distribution
            # run: zip -r "flaskbb_deploy-${{github.sha}}.zip" ./flaskbb ./.ebextensions wsgi.py setup.py setup.cfg requirements.txt flaskbb.cfg celery_worker.py
            run: zip -r "flaskbb_deploy-v1.zip" ./flaskbb ./.ebextensions wsgi.py setup.py setup.cfg requirements.txt flaskbb.cfg celery_worker.py
        
          - name: Congifure AWS Credentials
            uses: aws-actions/configure-aws-credentials@v2
            with:
              aws-access-key-id: ${{ secrets.ACCESS_KEY_ID }}
              aws-secret-access-key: ${{ secrets.SECRET_ACCESS_KEY }}
              aws-region: us-west-1 # CoRise TODO fill in the region that you will be using.

          - name: Upload application file to AWS
            # run: aws s3 cp flaskbb_deploy-${{github.sha}}.zip s3://hzarkoob-flaskbb # CoRise TODO filling the name of the application file and the name of the bucket you created
            run: aws s3 cp flaskbb_deploy-v1.zip s3://hzarkoob-flaskbb # CoRise TODO filling the name of the application file and the name of the bucket you created

          - name: Create new application version
            run: |  # CoRise TODO filling the name of the aprlication file and the name of the bucket you created
              aws elasticbeanstalk create-application-version \
              --application-name hzarkoob_flaskbb \
              # --source-bundle S3Bucket="hzarkoob-flaskbb",S3Key="flaskbb_deploy-${{github.sha}}.zip" \
              --source-bundle S3Bucket="hzarkoob-flaskbb",S3Key="flaskbb_deploy-v1.zip" \
              # --version-label "ver-${{ github.sha }}" \
              --version-label "ver-v1" \
              # --description "commit-sha-${{ github.sha }}"
              --description "commit-v1"

          # CoRise TODO fill in your_environment_name based on the environment created in terraform workflow
          - name: Deploy application
            # run: aws elasticbeanstalk update-environment --environment-name flaskbb-environment --version-label "ver-${{ github.sha }}"
            run: aws elasticbeanstalk update-environment --environment-name flaskbb-environment --version-label "ver-v1"
